{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jest/recommended"
    ],
    "env": {
      "browser": true,
      "commonjs": true,
      "node": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 2018,
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "module"
    },
    "plugins": ["jest"],
    "rules": {
      "no-console": "off",
      "strict": ["error", "global"],
      "curly": "warn",

      "jest/no-disabled-tests": "warn",
      "jest/no-focused-tests": "error",
      "jest/no-identical-title": "error",
      "jest/prefer-to-have-length": "warn",
      "jest/valid-expect": "error",

      "react/jsx-no-bind": ["error", {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }],
      "react/no-did-update-set-state": "error",
      "react/no-unknown-property": "error",
      "react/no-unused-prop-types": "error",
      "react/prop-types": "error",
      "react/react-in-jsx-scope": "error"
      
    }
}